;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================


[colors]
background = #001D1D1D
foreground = #EEEEEE
background-alt = #1D1D1D
foreground-alt = #EEEEEE
primary = #73aab7
secondary = #ecd391
tertiary = #7c8f5e
alert = #eac08b

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2
[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3
[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true

[bar/barbase]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
;offset-y = ${env:y}
;width = 100%
height = 27
fixed-center = true
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
border-size = 0
border-color = #00000000
padding-left = 0
padding-right = 1
module-margin-left = 1
module-margin-right = 0.95
font-0 = "UbuntuMono Nerd Font:size=11;1"
font-1 = "UbuntuMono Nerd Font:size=13;1"
font-2 = "Font Awesome 5 Free:style=Regular:pixelsize=11;1"
font-3 = "Font Awesome 5 Free:style=Solid:pixelsize=11;1"
font-4 = "Font Awesome 5 Brands:pixelsize=11;1"
font-5 = "NotoColorEmoji:scale=10:pixelsize=11;1"
modules-center =
modules-right = memory cpu temps network volume updates date
tray-position = right
tray-padding = 1
cursor-click = pointer
cursor-scroll = ns-resize

[module/ewmh]
type = internal/xworkspaces
label-active = " %icon% %name%  "
label-active-foreground = ${colors.foreground-alt}
label-active-background = ${colors.background-alt}
label-active-underline = ${colors.primary}
label-occupied = " %icon% %name%  "
label-occupied-underline = ${colors.secondary}
label-urgent = " %icon% %name%  "
label-urgent-foreground = ${colors.foreground}
label-urgent-background = ${colors.background}
label-urgent-underline  = ${colors.alert}
label-empty = " %icon% %name%  "
label-empty-foreground = ${colors.foreground}


[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%

[module/networkspeeddown]
type = internal/network
interface = enp5s0
label-connected = "Downspeed %downspeed:7% "
format-connected = <label-connected>
format-connected-prefix = " ⬇️"
;format-connected-prefix-foreground = #e5e9f0
format-connected-foreground = #d8dee9
format-connected-background = #2e3440
format-connected-underline = #A3BE8C

[module/networkspeedup]
type = internal/network
interface = eenp5s0
label-connected = " %upspeed:7% "
format-connected = <label-connected>
format-connected-prefix = " ⬆️"
;format-connected-prefix-foreground = #e5e9f0
format-connected-foreground = #d8dee9
format-connected-background = #2e3440
format-connected-underline = #5E81AC

[module/bspwm]
type = internal/bspwm

label-focused = %index%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2

label-occupied = %index%
label-occupied-padding = 2

label-urgent = %index%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

label-empty = %index%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 2

; Separator in between workspaces
; label-separator = |

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %index%
label-focused-background = ${module/bspwm.label-focused-background}
label-focused-underline = ${module/bspwm.label-focused-underline}
label-focused-padding = ${module/bspwm.label-focused-padding}

; unfocused = Inactive workspace on any monitor
label-unfocused = %index%
label-unfocused-padding = ${module/bspwm.label-occupied-padding}

; visible = Active workspace on unfocused monitor
label-visible = %index%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %index%
label-urgent-background = ${module/bspwm.label-urgent-background}
label-urgent-padding = ${module/bspwm.label-urgent-padding}

; Separator in between workspaces
; label-separator = |

[module/memory]
type = internal/memory
interval = 1
label = " MEM %percentage_used%% "
format = <label>
format-prefix = " 🧠 "
;format-prefix-foreground = #e5e9f0
format-underline = #A3BE8C
format-foreground = #d8dee9
format-background = #2e3440

[module/date]
type = internal/date
date = %%{F#99}%d/%m/%Y%%{F-}  %%{F#fff}%I:%M %p%{F-}
date-alt = %%{F#fff}%A, %B %d, %Y  %%{F#fff}%I:%M %p%{F#666}%%{F#fba922}%S%%{F-}

[module/volume]
type = custom/script
exec = $SCRIPTPATH/vol.sh
interval = 10
label = "VOL %output% "
format-foreground = #d8dee9
format-background = #2e3440
format-prefix = " 🔉️"
format-prefix-foreground = #e5e9f0
format-underline = #A3BE8C

[module/temps]
type = custom/script
exec = $SCRIPTPATH/bartemp.sh
interval = 30
label = " %output% "
format-foreground = #d8dee9
format-background = #2e3440
format-prefix = "🌡️"
;format-prefix-foreground = #e5e9f0
format-underline = #A3BE8C

;[module/updates]
;type = custom/script
;exec = ~/.config/polybar/updates.sh
;interval = 1000
;label = " %output%"
;format-foreground = #d8dee9
;format-background = #2e3440
;format-prefix = " 🛠️"
;;format-prefix-foreground = #e5e9f0
;format-underline = #A3BE8C

[module/cpu]
type = internal/cpu
interval = 1
format-foreground = #d8dee9
format-background = #2e3440
format-underline = #5E81AC
format-prefix = " 💻"
;format-prefix-foreground = #e5e9f0
label-font = 1
format = <label>
label = " CPU %percentage:3%% "

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

;[global/wm]
;margin-top = 5
;margin-bottom = 5

; vim:ft=dosini
